@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Ysabeau+Infant:ital@1&display=swap');
/* font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Ysabeau Infant', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Sedgwick+Ave+Display&family=Ysabeau+Infant:ital@1&display=swap');
/* font-family: 'Playpen Sans', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Ysabeau Infant', sans-serif; */

.form_header {
    font-family: 'Playpen Sans', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Ysabeau Infant', sans-serif;
    text-transform: capitalize;

}

.firstNav {
    list-style-type: none;
    display: inline-flex;
    text-transform: uppercase;

}

.secondNav {
    list-style-type: none;
    display: inline-flex;
    text-transform: capitalize;
}

img {
    width: 20px;
    height: 20px;
    align-items: baseline;
}

#togglePasswordShow {
    display: none;
}

::placeholder {
    text-transform: capitalize;
}

body {
    background-image: url(https://img.freepik.com/free-vector/colorful-abstract-background_23-2148461179.jpg?w=1060&t=st=1698619568~exp=1698620168~hmac=1310da225dd47de538f61cb87ff28e6ad85628e486fb127facd83c15f610a40f);
    height: 100vh;
    background-position: center;
    background-size: cover;
}