@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Ysabeau+Infant:ital@1&display=swap');
/* font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Ysabeau Infant', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Sedgwick+Ave+Display&family=Ysabeau+Infant:ital@1&display=swap');
/* font-family: 'Playpen Sans', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Ysabeau Infant', sans-serif; */

.form_header {
    font-family: 'Playpen Sans', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Ysabeau Infant', sans-serif;
    text-transform: capitalize;

}

.firstNav {
    list-style-type: none;
    display: inline-flex;
    text-transform: uppercase;

}

.secondNav {
    list-style-type: none;
    display: inline-flex;
    text-transform: capitalize;
}

img {
    width: 20px;
    height: 20px;
    align-items: baseline;
}

#togglePasswordShow {
    display: none;
}

::placeholder {
    text-transform: capitalize;
}

